#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <50>;
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        turbo: turbo {
            compatible = "zmk,behavior-turbo-key";
            label = "turbo";
            #binding-cells = <0>;
            tap-ms = <5>;
            wait-ms = <200>;
            bindings = <&kp A>, <&kp J>, <&kp F>;
        };

        turbo2: turbo2 {
            compatible = "zmk,behavior-turbo-key";
            label = "turbo2";
            #binding-cells = <0>;
            tap-ms = <5>;
            wait-ms = <530>;
            bindings = <&kp L>, <&kp L>, <&kp X>;
        };

        turbo3: turbo3 {
            compatible = "zmk,behavior-turbo-key";
            label = "turbo3";
            #binding-cells = <0>;
            tap-ms = <150>;
            wait-ms = <200>;
            bindings = <&kp L>;
        };
        // Новое поведение для зацикленного турбо-макроса
       turbo_macro: turbo_macro {
            #binding-cells = <0>;
            compatible = "zmk,behavior-macro";
            label = "TURBO_MACRO";
            wait-ms = <10>; // Задержка 10 мс между действиями
            tap-ms = <5>;  // Длительность нажатия 5 мс
            bindings = <&kp A &kp B &kp C>; // ваша последовательность
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3       &kp N4                 &kp N5       &kp N6       &kp N7     &kp N8     &kp N9   &kp N0     &kp BSPC
&kp TAB         &kp Q   &kp W   &kp E        &kp R                  &kp T        &kp Y        &kp U      &kp I      &kp O    &kp P      &kp BACKSLASH
&kp LEFT_SHIFT  &kp A   &kp S   &kp D        &kp F                  &kp G        &kp H        &kp J      &kp K      &kp L  &kp SEMI   &kp APOS
&kp LCTRL       &kp Z   &kp X   &kp C        &kp V                  &kp B        &kp N        &kp M      &kp COMMA  &kp DOT  &kp SLASH  &kp DELETE
                                &lt 2 ENTER  &lt 3 ESC              &mo 1        &lt 4 ENTER  &lt 5 TAB
                                             &mt LEFT_ALT LEFT_WIN  &kp LCTRL    &kp SPACE
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR    &kp DOLLAR    &kp PERCENT      &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp GRAVE         &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp LBKT         &kp RBKT   &kp F1         &kp F2        &kp F3                &kp F4                 &kp DEL
&kp LEFT_CONTROL  &kp NUMBER_5     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp LG(D)        &kp BSLH   &kp F5         &kp F6        &kp F7                &kp F8                 &kp PAGE_UP
&kp LSHFT         &kp NUMBER_9     &kp NUMBER_0  &kp MINUS     &kp EQUAL     &kp LG(LS(S))    &trans     &kp F9         &kp F10       &kp F11               &kp F12                &kp PAGE_DOWN
                                                 &kp LEFT_WIN  &kp SPACE     &trans           &kp ENTER  &kp BACKSPACE
                                                               &none         &none            &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F12           &kp F1      &kp F2      &kp F3         &kp F4         &kp F5            &kp F6        &kp F7         &kp F8    &kp F9     &kp F10  &kp F11
&kp LS(GRAVE)     &kp LS(N1)  &kp LS(N2)  &kp LS(N3)     &kp LS(N4)     &kp LS(LBKT)      &kp LS(RBKT)  &none          &trans    &none      &none    &trans
&kp LEFT_CONTROL  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)     &kp LS(N8)     &kp LANGUAGE_1    &kp LS(BSLH)  &trans         &kp UP    &trans     &trans   &trans
&kp LEFT_SHIFT    &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)  &kp LS(EQUAL)  &kp LANG2         &none         &kp LEFT       &kp DOWN  &kp RIGHT  &none    &trans
                                          &kp LEFT_ALT   &kp SPACE      &kp ENTER         &trans        &kp BACKSPACE
                                                         &trans         &trans            &none
            >;
        };

        Mouse {
            bindings = <
&none        &none   &none      &none  &none      &none        &none                 &none                 &none                 &none                 &none                 &none
&none        &none   &kp W      &none  &none      &tog 0       &turbo_macro   &kp LA(LC(NUMBER_1))  &kp LA(LC(NUMBER_2))  &kp LA(LC(NUMBER_3))  &kp LA(LC(NUMBER_4))  &none
&none        &kp A   &kp S      &kp D  &trans     &none        &turbo               &kp LA(LC(N5))        &kp LA(LC(NUMBER_6))  &kp LA(LC(N7))        &kp LC(LA(N8))        &none
&bootloader  &trans  &mkp RCLK  &mo 4  &mkp LCLK  &mo 5        &kp LC(LA(NUMBER_1))  &mkp LCLK             &mkp MCLK             &mkp RCLK             &none                 &none
                                &mo 5  &mkp LCLK  &mkp RCLK    &mkp LCLK             &mkp RCLK
                                       &none      &trans       &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans            &trans            &trans            &trans            &trans       &trans     &trans      &trans       &trans       &trans       &trans
&trans  &kp LC(NUMBER_1)  &kp LC(NUMBER_2)  &kp LC(NUMBER_3)  &kp LC(NUMBER_4)  &trans       &trans     &kp LC(F1)  &kp LC(F2)   &kp LC(F3)   &kp LC(F4)   &trans
&trans  &kp LC(N5)        &kp LC(NUMBER_6)  &kp LC(NUMBER_7)  &kp LC(NUMBER_8)  &trans       &trans     &kp LC(F5)  &kp LC(F6)   &kp LC(F7)   &kp LC(F8)   &trans
&trans  &kp LC(N9)        &kp LC(N0)        &kp LC(MINUS)     &kp LC(EQUAL)     &trans       &trans     &kp LC(F9)  &kp LC(F10)  &kp LC(F11)  &kp LC(F12)  &trans
                                            &trans            &mkp LCLK         &mkp RCLK    &mkp RCLK  &mkp LCLK
                                                              &trans            &trans       &trans
            >;

            //trackball-bindings = <&tsl>;//滚轮层
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;

            // trackball-bindings = <&tmv_fine>;//精准指针层
        };
    };
};
